[submodule "congress-legislators"]
	path = congress-legislators
	url = git://github.com/unitedstates/congress-legislators
[submodule "congress"]
	path = congress
	url = https://github.com/unitedstates/congress
